footer{
	background-color: #3a9cff !important;
}
nav{
	background-color: #3a9cff !important;
}

.copyright_section_bg{
	background-color: #0080ff !important;
}
li.footer_list_heading{
	color: #383838;
	font-size: 1rem;
}
li.footer_list_item{
	color: #dee2e6;
	font-size: .8rem;
}
.product-grid{
	margin: 1em 0;
}
.follow_us{
	color: #383838;
}
.footer_list_item>a{
	color: #dee2e6;
}